{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    <div class="form-group mt-4">{{ form_row(form.brand, {'attr': {'class':'form-control'}}) }}
        {# help brand #}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h3 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Besoin d'aide? Cliquez sur moi!</strong>
                    </button>
                </h3>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Le marquage du téléphone est situé en bas à l'arrière de l'appareil, juste après le mot 'by'.
                    </div>
                </div>
            </div>
        </div>
    </div>
  
	<div class="form-group mt-4">{{ form_row(form.model, {'attr': {'class':'form-control'}}) }}
        {# help model #}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Besoin d'aide? Cliquez sur moi!</strong>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Le modèle est situé à l'arrière, en bas et en grosses lettres.
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<div class="form-group mt-4">{{ form_row(form.ram, {'attr': {'class':'form-control'}}) }}
        {# help ram #}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Besoin d'aide? Cliquez sur moi!</strong>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Déverrouillez le téléphone.<br>
                        Cliquez sur l'icône de réglages <img class="img_icon fa-border" src="{{ asset('build/images/config-iphone.png') }}" alt="configuration"/>.<br>
                        Sur <strong>Android</strong>, allez dans "A propos du téléphone > Storage".<br>
                        Sur <strong>iPhone</strong>, cliquez sur "Général > Informations", et l'état de la mémoire sera affiché.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group mt-4">{{ form_row(form.storage, {'attr': {'class':'form-control'}}) }}
        {# help storage #}
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseOne">
                        <strong>Besoin d'aide? Cliquez sur moi!</strong>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        Déverrouillez le téléphone.<br>
                        Cliquez sur l'icône de réglages <img class="img_icon fa-border" src="{{ asset('build/images/config-iphone.png') }}" alt="configuration"/>.<br>
                        Sur <strong>Android</strong>, allez dans "A propos du téléphone > Storage".<br>
                        Sur <strong>iPhone</strong>, cliquez sur "Général > Informations", et l'état de la mémoire sera affiché.
                    </div>
                </div>
            </div>
        </div>        

    </div>

    <div class="form-group mt-4">{{ form_row(form.condition, {'attr': {'class':'form-control'}}) }}</div>
    <div class="form-group mt-4">{{ form_row(form.store) }}</div>
    <div class="form-check  mt-4">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label" for="exampleCheck1">Je confirme que le téléphone dispose d'un câble et d'un chargeur.</label>
    </div>
    <button class="btn btn-primary mt-4">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    