{{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    <div class="form-group mt-4">{{ form_row(form.model, {'attr': {'class':'form-control'}}) }}
        {# help model #}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                        <strong>Besoin d'aide ?</strong>    
                    </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Le modèle est situé à l'arrière, en bas et en grands caractères.
                    </div>
                </div>
            </div>
        </div>

    
	<div class="form-group mt-4">{{ form_row(form.ram, {'attr': {'class':'form-control'}}) }}
        {# help ram #}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                        <strong>Besoin d'aide ?</strong>    
                    </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Déverrouillez le téléphone.<br>
                        Cliquez sur l'icône de réglages.<br>
                        Sur <strong>Android</strong>, allez dans "A propos du téléphone > Storage".<br>
                        Sur <strong>iPhone</strong>, cliquez sur "Général > Informations", et l'état de la mémoire sera affiché.
                    </div>
                </div>
            </div>
        </div>


    <div class="form-group mt-4">{{ form_row(form.storage, {'attr': {'class':'form-control'}}) }}
        {# help storage #}
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                        <strong>Besoin d'aide ?</strong>    
                    </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Déverrouillez le téléphone.<br>
                        Cliquez sur l'icône de réglages.<br>
                        Sur <strong>Android</strong>, allez dans "A propos du téléphone > Storage".<br>
                        Sur <strong>iPhone</strong>, cliquez sur "Général > Informations", et l'état de la mémoire sera affiché.
                    </div>
                </div>
            </div>
        </div> 
    </div>

    <div class="form-group mt-4">{{ form_row(form.state, {'attr': {'class':'form-control'}}) }}</div>

    <div class="form-group mt-4">{{ form_row(form.agency, {'attr': {'class':'form-control'}}) }}</div>

	<div class="form-group mt-4">{{ form_row(form.screen_size, {'attr': {'type': 'number', 'class':'form-control'}}) }}</div>


    <div class="form-check  mt-4">
        <input type="checkbox" class="form-check-input" id="check">
        <label class="form-check-label" for="exampleCheck1">Je confirme que le téléphone dispose d'un câble et d'un chargeur.</label>
    </div>

   <div class="text-center">
   <button class="btn btn-primary mt-2 mb-2">{{ button_label|default('Sauvegarder') }}</button>
   </div>
{{ form_end(form) }}
