{% extends 'base.html.twig' %}

{% block title %}Liste des téléphones
{% endblock %}

{% block body %}
<div class="container">
			<div class="row justify-content-center">
{% for device in devices %}
	<div class="col-12 col-md-6 col-lg-4 col-xl-4 mt-4">
    <div class="card" class="text-center h-100 p-3">
        <h5 class="card-title">{{ device.model|replace({'_': " "})|capitalize }}</h5>
        <div class="card-body mt-2">
            <p>{{ device.model|replace({'_': " "})|capitalize }}</p>
			<p><img id="phone-image" src="{{ device.image }}"></p>
			<p>{{ device.screenSize }}</p>
			<p>{{ device.ram }} GB - {{ device.storage }}</p>
			<p>Etat : {{ device.state }}</p>
			<p>{{ device.soldAt ? 'Non' : 'Oui' }}</p>
			<p>Prix : {{ device.price }}</p>
			<p>Point de vente: {{ device.agency.name|capitalize }}</p>
			<p>{{ device.soldAt ? 'Non' : 'Oui' }}</p>
        </div>
    </div>
</div>
{% endfor %}
</div>
</div>
		{# <div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(offers) }}
		</div> #}
	</body>
{% endblock %}
