{% extends 'base.html.twig' %}

{% block title %}Liste des téléphones
{% endblock %}

{% block body %}
<h5 class="mt-4 ms-4">
        {{ devices.getTotalItemCount }}
        téléphones en stock
    </h5>
<div class="container mt-4">
	<div class="row justify-content-center">
{% for device in devices %}
<div class="card mb-2" style="width: 18rem;">
  <img class="card-img-top" src="{{ device.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ device.brand|capitalize }}</h5>
    <p class="card-text">  {{ device.model|replace({'_': " "})|capitalize }} <br> Point de vente: {{ device.agency.name|capitalize }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Ecran : {{ device.screenSize }} Pouce</li>
    <li class="list-group-item">{{ device.ram }} G RAM - {{ device.storage }} G</li>
    <li class="list-group-item">Etat : {{ device.state }}</li>
    <li class="list-group-item">Prix : {{ device.price }} EUR</li>
    <li class="list-group-item">{% if device.soldAt is not null %}<span class="badge bg-success">Disponible</span></li>{% else %}<span class="badge rounded-pill bg-warning">Vendu</span>{% endif %}</li>
  </ul>
  <div class="card-body">
	<a href="{{ path('device_show', {'id': device.id}) }}" class="btn btn-outline-info">Voir</a>
	<a href="{{ path('device_edit', {'id': device.id}) }}" class="btn btn-outline-warning">Editer</a>
  </div>
</div>
{% endfor %}
	</div>
</div>
		<div class="navigation d-flex justify-content-center mt-4">
			{{ knp_pagination_render(devices) }}
		</div>
	</body>
{% endblock %}
