<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}       
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {# <body {{ stimulus_controller('symfony/ux-swup/swup') }} {{ stimulus_target('theme', 'body') }}> #}
        <div id="swup">
            {% include 'component/_navbar.html.twig' %}
            {% block body %}{% endblock %}
            {% include 'component/_footer.html.twig' %}
        </div>
    </body>
</html>
